<div class="card card-body mb-2">
  <div class="card-title"><b>Comunica con altri utenti</b></div>
  {{#if user}}
  <form id="ws-form" action="">
    <div id="simple-chat">
      <h2 id="title"><i class="fa fa-comments"></i> Chat </h2>
      <div id="chat-window">
        <div id="output"></div>
        <div id="type"></div>
      </div>
      <input id="message" type="text" placeholder="Messaggio" autocomplete="off"/>
      <button id="send" type='submit'>Invia</button>
    </div>
  </form>
  <input id="handle" type="text" value="{{user.nome}}"/>
  <input id="email" type="text" value="{{user.email}}"/>
  {{else}}
    <p>Per favore fai <a href="/auth/login">l'autenticazione</a> per usare la chat</p>
  {{/if}}
</div>
<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script>
      /********** Handle Chat Message throw WebSocket and Socket.io *********/
      $(function () {
        var socket = window.io.connect('http://localhost:3000/', {transports:['websocket']});

        // Manda un evento che attiva la coda della chat e scarica i messaggi precedenti
        socket.emit('chatstart', $('#email').val());
      });
</script>