<div class="row mb-12">
  <div class="col-md-6 mx-auto">
      <div class="card card-body mb-8">
          <p><b>Nome: {{user.nome}} </p>
          <p><b>Cognome:</b> {{user.cognome}}</p>
          <p><b>Email:</b> {{user.email}}</p>
          <p><b>Ruolo:</b> {{user.ruolo}}</p>
      </div>
    </div>
</div>