.navbar { 
    margin-bottom: 0; 
    background-color: #dc3545; 
    z-index: 9999; 
    border: 0; 
    font-size: 12px !important; 
    line-height: 1.42857143 !important; 
    letter-spacing: 4px; 
    border-radius: 0; 
  } 
   
  .navbar li a, .navbar .navbar-brand { 
    color: #fff !important; 
  } 
   
  .navbar-nav li a:hover, .navbar-nav li.active a { 
    color: #fff !important; 
    background-color: #dc3545 !important; 
  } 
   
  .navbar-default .navbar-toggle { 
    border-color: transparent; 
    color: #007BFF !important; 
  }


  

  #submit,#cancella,#more,#partecipa,#abbandona,#conferma,#start{
    background-color: #dc3545;
    border-color: #dc3545;
  }
 #dropbox{
   background-color: #007bff;

 }
 .btn-danger{
   background-color:blue;

  }
  #reset,#modifica,#info,#cerca{
    background-color: #007bff;
    border-color: #007bff;

  }



#google{
  background-color: #dc3545;

}